// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style

/** DEFINIÇÃO DAS LISTAS OK - NOT - WARNING **/
  .item-ok,
  .item-not,
  .item-warning{
    list-style-type: none;
  }

  .item-ok:before,
  .item-not:before,
  .item-warning:before{
    margin-right: 1%;
  }

  /** ITEM-OK **/
  .item-ok:before{
    content:  '\2714';
    color: #009f32;
  }

  .item-ok{
    color: #009f32;
  }

  /** ITEM NOT **/
  .item-not:before{
    content:  '\2717';
    color: #C40233;
  }

  .item-not{
    color: #C40233;
  }

  /** ITEM WARNING **/
  .item-warning:before{
    content:  '\0021';
    font-weight: bold;
    color: #d6af00;
  }

  .item-warning{
    color: #d6af00;
  }

/** DEFINIÇÃO DOS LINKS **/
a:hover{
  border-bottom: dashed 1px;
}

/** DEFINIÇÃO DE IMAGENS**/
.img-left,
.img-right,
.img-50{
  padding: 2%;
}

.img-left,
.img-right{
  display: inline-block;
  width: 45%;
  padding: 2%;
}

.img-left{
  float: left;
}

.img-right{
  float: right;
}

img.img-50{
  display: block;
  width: 50%;
  margin-left: 25%;
}
