<footer id="footer" class="footer">
    <div class="copyright">
        <span>© aulas.txt | Feito com <a href="https://hexo.io" target="_blank">Hexo</a> & <a href="https://github.com/Siricee/hexo-theme-Chic" target="_blank">Chic</a></span>
        <button
            type="button"
            onclick= "printjs({printable: 'aulas.txt', type: 'html'})"
        >
            Imprimir esta página em PDF
        </button>
        
    </div>
</footer>
