/** Defines the current theme font-families **/
@font-face{
  src: url('../../../assets/media/fonts/montserrat/Montserrat-Bold.woff');
  font-family: 'Montserrat Bold';
}

@font-face{
  src: url('../../../assets/media/fonts/montserrat/Montserrat-Regular.woff');
  font-family: 'Montserrat Regular';
}

@font-face{
  src: url('../../../assets/media/fonts/oxygen/Oxygen-Regular.woff');
  font-family: 'Oxygen Regular';
}

@font-face{
  src: url('../../../assets/media/fonts/anton/anton-regular.woff');
  font-family: 'Anton';
}

/** Defines the globals **/
:root{
  --font-regular:   1em;
  --font-small:     0.75em;
  --font-smaller:   0.50em;
  --font-medium:    1.25em;
  --font-big:       1.50em;
  --font-bigger:    1.75em;
  --font-title:     2.5em;
}

/** Defines the theme **/
*{
  font-size: var(--font-regular);
  font-family: 'Oxygen Regular';
}

h1, h2, h3, h4, h5, h6
{
  font-family: 'Montserrat Bold';
  font-size: var(--font-big);
}

/** Configures all .bonisa content as absolute/relative positions **/
.bonisa {
  display: block;
  position: absolute;
  font-size: 1em;
  padding: 1%;
}

.bonisa * {
  position: relative;
}

.bonisa h1{
  color: var(--teal8);
  font-size: 3.5em;
  text-transform: uppercase;
}

.bonisa h2{
  font-size: var(--font-title);
}

.bonisa strong,
.bonisa b{
  color: var(--teal8);
}

.bonisa p,
.bonisa li{
  font-size: 1.5em;
  margin-left: 5%;
  padding: 1.5%;
  text-align: left;
}

.bonisa p:nth-child(2){
  color: #1a1a1a;
  font-size: 1.75em;
  margin-left: 0;
  text-align: justify;
}


.bonisa table{
  font-size: 1.5em;
  text-align: left;
  display: inline-block;
  
  margin: 0.5%;
}

.bonisa table th{
  color: var(--blue7);
  background: #eee !important;
}

.bonisa table tr:nth-child(odd){
  background-color: var(--blue4);
}

.bonisa table tr:nth-child(even){
  background-color: var(--blue3);
}

main .bonisa,
section .bonisa,
div .bonisa{
  width: 100vw;
  height: 100vh;
}

/** Cover Page **/
#bonisaRoot{
  background-image: url('./textura-01.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#bonisaSlide0 h1{
  color: var(--teal7);
  text-transform: uppercase;
  font-family: 'Anton';
  font-size: 5em;
  margin-top: 25%;
}

#bonisaSlide0 h2{
  font-family: 'Montserrat Regular';
  font-size: 2em;
  text-transform: lowercase;
  text-align: right;
  margin-top: -7.5%;
}