<script>
  window.onload = function(){
    var 
      content = document.querySelector("#slide-content").innerHTML,
      metadata = content.split('---')[1],
      theme = content.split('theme:')[1].replace(' ', '').split('\n')[0] || 'default';

    // UPDATES THE CONTENT
    content = content.replace(metadata, '').replace('------', '');

    // REMOVES EVERYTHING FROM THE PAGE
    document.body.innerHTML = '';
    document.head.innerHTML = '';

    // CALLS BONISA
    Bonisa.init({
      content: content,
      SRC_DIR: '/aulas.txt/src/',
      themes: theme
    });
    
  }
</script>

<div id="slide-content">
  <%- page.raw %>
</div>