/** Defines the current theme font-families **/
@font-face{
  src: url('../../../assets/media/fonts/raleway/Raleway-Black.woff');
  font-family: 'Raleway Black';
}


@font-face{
  src: url('../../../assets/media/fonts/raleway/Raleway-Bold.woff');
  font-family: 'Raleway Bold';
}

@font-face{
  src: url('../../../assets/media/fonts/raleway/Raleway-Light.woff');
  font-family: 'Raleway Light';
}

@font-face{
  src: url('../../../assets/media/fonts/raleway/Raleway-Regular.woff');
  font-family: 'Raleway Regular';
}

/** Defines the globals **/
:root{
  --font-regular:   1.25em;
  --font-small:     1.00em;
  --font-smaller:   0.75em;
  --font-medium:    1.50em;
  --font-big:       2.00em;
  --font-bigger:    2.50em;
  --font-title:     3.00em;


  --color-black:  #1A1A1A;
  --color-white:  #fefefe;
  --color-gray:   #858585;
  --color-red:    #C83232;
  --color-green:  #0F9D58;
  --color-blue:   #184994;
  --color-yellow: #F4B400;
}

/** Defines the theme **/
*{
  font-family: 'Raleway Regular';
  font-size: var(--font-regular);
  color: var(--color-black);
  background-size: cover;
}

a,
em, i,
strong, b,
code,
s,
blockqoute{
  font-size: var(--font-regular);
}

p, li{
  font-size: var(--font-regular);
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Raleway Bold';
  font-size: var(--font-title);
  color: var(--color-black);
}

/** Configura a classes especial STANDARDh1 **/
.STANDARDh1 h1{
  color: var(--color-white);
  font-size: var(--font-big);
  width: 35vw;
  margin-top: 10vh;
  margin-left: 63.5%;
  
  text-align: right;
}

.STANDARDh1 h2{
  font-family: 'Raleway Light';
  font-size: var(--font-medium);
  color: var(--color-white);

  width: 35vw;
  padding-top: 1%;
  margin-top: -3vh;
  margin-left: 63.5%;

  border-top: 0.1em var(--color-white) solid;
  text-align: right;
}

.STANDARDh1 h3{
  font-family: 'Raleway Light';
  color: var(--color-white);
  font-size: var(--font-regular);

  width: 35vw;
  padding-top: 1%;
  margin-top: -3vh;
  margin-left: 63.5%;

  text-align: right;
}

.STANDARDh1 p,
.STANDARDh1 a,
.STANDARDh1 li,
.STANDARDh1 a,
.STANDARDh1 em,
.STANDARDh1 i,
.STANDARDh1 strong,
.STANDARDh1 b,
.STANDARDh1 code,
.STANDARDh1 s{
  width: 55vw;
  text-align: justify;
  margin-left: 2.5%;
}

/** Configura a classes especial STANDARDh2 **/
.STANDARDh2 h2{
  font-size: var(--font-big);
  color: var(--color-white);
  width: 30vw;
  margin-top: 5vh;
  margin-left: 10.5%;
  
  text-align: center;
}

.STANDARDh2 p,
.STANDARDh2 a,
.STANDARDh2 li,
.STANDARDh2 a,
.STANDARDh2 em,
.STANDARDh2 i,
.STANDARDh2 strong,
.STANDARDh2 b,
.STANDARDh2 code,
.STANDARDh2 s{
  width: 55vw;
  text-align: justify;
}